In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# **Panda Data Frames**

**Panda Series**

In [2]:
import numpy as np
import pandas as pd

In [3]:
my_series = pd.Series( data = [2,3,4,5],
                     index = ['a','b','c','d'
                    ])
my_series

a    2
b    3
c    4
d    5
dtype: int64

In [4]:
my_dict = {"x": 2, "a":5, "b":4, "c":8}
my_series2 = pd.Series(my_dict)
my_series2

x    2
a    5
b    4
c    8
dtype: int64

In [5]:
my_series ["a"]

2

In [6]:
my_series[0]

2

In [7]:
my_series[1:3]

b    3
c    4
dtype: int64

In [8]:
my_series + my_series

a     4
b     6
c     8
d    10
dtype: int64

In [9]:
 my_series +  my_series2

a     7.0
b     7.0
c    12.0
d     NaN
x     NaN
dtype: float64

In [10]:
np.mean( my_series)

3.5

# **DatFrame Creation and Indexing**

In [11]:
my_dict = {"name": ["Joe","Bob","Frans"],
          "age": np.array([10,15,20]),
          "weight": (75,123,239),
          "height": pd.Series([4.5,5,6.1],
                             index =["Joe", "Bob","Frans"]),
          "siblings":1,
          "gender": "M"}
df = pd.DataFrame(my_dict)
df # show the data frame

        name  age  weight  height  siblings gender
Joe      Joe   10      75     4.5         1      M
Bob      Bob   15     123     5.0         1      M
Frans  Frans   20     239     6.1         1      M

In [12]:
my_dict2 = {"name": ["Joe","Bob","Frans"],
          "age": np.array([10,15,20]),
          "weight": (75,123,239),
          "height": [4.5,5,6.1],
          "siblings":1,
          "gender": "M"}
df2 = pd.DataFrame(my_dict2)
df2 # show the data frame

    name  age  weight  height  siblings gender
0    Joe   10      75     4.5         1      M
1    Bob   15     123     5.0         1      M
2  Frans   20     239     6.1         1      M

In [13]:
df2 = pd.DataFrame(my_dict2,
                  index = my_dict["name"])
df2

        name  age  weight  height  siblings gender
Joe      Joe   10      75     4.5         1      M
Bob      Bob   15     123     5.0         1      M
Frans  Frans   20     239     6.1         1      M

In [14]:
df2["weight"] # Get a column by name

Joe       75
Bob      123
Frans    239
Name: weight, dtype: int64

In [15]:
df2.weight

Joe       75
Bob      123
Frans    239
Name: weight, dtype: int64

In [16]:
del df2['name']

In [17]:
df2["IQ"] = [130, 105, 115]
df2

       age  weight  height  siblings gender   IQ
Joe     10      75     4.5         1      M  130
Bob     15     123     5.0         1      M  105
Frans   20     239     6.1         1      M  115

In [18]:
df2["Married"] = False
df2

       age  weight  height  siblings gender   IQ  Married
Joe     10      75     4.5         1      M  130    False
Bob     15     123     5.0         1      M  105    False
Frans   20     239     6.1         1      M  115    False

In [19]:
df2.loc["Joe"]

age            10
weight         75
height        4.5
siblings        1
gender          M
IQ            130
Married     False
Name: Joe, dtype: object

In [20]:
df2.loc["Joe","IQ"]

130

In [21]:
df2.loc["Joe":"Bob", "IQ":"Married"]

      IQ  Married
Joe  130    False
Bob  105    False

In [22]:
df2.iloc[0]

age            10
weight         75
height        4.5
siblings        1
gender          M
IQ            130
Married     False
Name: Joe, dtype: object

In [23]:
df2.iloc[0,5]

130

In [24]:
df2.iloc[0:2, 5:8]

      IQ  Married
Joe  130    False
Bob  105    False

In [25]:
boolean_index = [False, True, True]
df2[boolean_index]

       age  weight  height  siblings gender   IQ  Married
Bob     15     123     5.0         1      M  105    False
Frans   20     239     6.1         1      M  115    False

In [26]:
boolean_index - df2["age"]>12
df2[boolean_index]

       age  weight  height  siblings gender   IQ  Married
Bob     15     123     5.0         1      M  105    False
Frans   20     239     6.1         1      M  115    False

In [27]:
df2[df2["age"] > 12]

       age  weight  height  siblings gender   IQ  Married
Bob     15     123     5.0         1      M  105    False
Frans   20     239     6.1         1      M  115    False

# **Exploring DataFrames**

titanic_train = pd.read_csv("../input/train.csv")
type(titanic_train)

titanic_train.shape     #check the dimension

titanic_train.head(6)   # Check the first 6 rows

titanic_train.tail(6)   # Check last 6 rows


titanic_train.index = titanic_train["Name"]   # Set index to name
del titanic_train["Name"]                     # Delete name column

print(titanic_train.index[0:10])              #Print new indexes

titanic_train.columns # See columns

titanic_train.describe()  

np.mean(titanic_train,
   axis = 0)        # Get the mean of each numeric column
   
titanic_train.info()